# Python Demo

Here we are using a Jupyter notebook to code with Python 3. A Jupyter notebook (.ipynb) file can contain text cells (such as this cell) as well as code cells. Let's start with some arithmetic operators.

## Arithmetic operations

We will create some variables and do arithmetic operations. Note how we add comments to the code.

In [ ]:
x = 10
y = 4

z = x + y
print('Addition:', z)

z = x * y
print('Multiplication:', z)

z = x / y
print('Division:', z)

z = x % y
print('Modulus:', z)

z = x ** y
print('Exponentiation:', z)

Addition: 14
Multiplication: 40
Division: 2.5
Modulus: 2
Exponentiation: 10000

## Lists

In [ ]:
# Create a new list with 7 elements
l = [1, 3, 6, 4, 5, 3, 6]
print(l)
print(type(l))
print(l[2])

# Add one element to the end of the list
l.append(1)
print(l)

# Remove first appearance of a value from list.
l.remove(3)
print(l)

# Add many elements to the list
l.extend([7, 8])
print(l)

[1, 3, 6, 4, 5, 3, 6]
<class 'list'>
6
[1, 3, 6, 4, 5, 3, 6, 1]
[1, 6, 4, 5, 3, 6, 1]
[1, 6, 4, 5, 3, 6, 1, 7, 8]

## Sets

In [ ]:
# Create a set from the previous list
s = set(l)
print(s)
print(type(s))

# Add elements to set
s = s.union({7, 9})
print(s)

# Set difference
s = s.difference({6, 7, 10})
print(s)

{1, 3, 4, 5, 6, 7, 8}
<class 'set'>
{1, 3, 4, 5, 6, 7, 8, 9}
{1, 3, 4, 5, 8, 9}

## Tuples

Tuples are similar to lists, but immutable.

In [ ]:
# Create a new tuple with 4 elements
t = (1, 2, 4, 5)
print(t)
print(type(t))
print(t[2])

# Add elements to a tuple
t1 = t + (3, 2) # This operator concatenates two tuples together
print(t1)

# Remove 4 from the tuple
t2 = t1[:2] + t1[3:]
print(t2)

(1, 2, 4, 5)
<class 'tuple'>
4
(1, 2, 4, 5, 3, 2)
(1, 2, 5, 3, 2)

## Dictionary

In [ ]:
# Create new dictionary with 3 key-value pairs
d = { 'key1': 'value1', 'key2': 3, 'key3': [2, 4]}
print(d)
print(d['key3'])

# Add element to dictionary
d['key4'] = 'new element'
print(d)

# Delete element from dictionary
del d['key1']
print(d)

{'key1': 'value1', 'key2': 3, 'key3': [2, 4]}
[2, 4]
{'key1': 'value1', 'key2': 3, 'key3': [2, 4], 'key4': 'new element'}
{'key2': 3, 'key3': [2, 4], 'key4': 'new element'}

## Strings

In [ ]:
# Create a new string
s = 'I am taking MATH637!'
print(s)

# Print some substrings, note how negative index can be used to count from the end of the string
print("These substrings are the same: %s, %s" %(s[12:19], s[-8:-1]))
print("Some other substrings: %s, %s" %(s[:4], s[12:]))

""" We can split a string into tokens """
tokens = s.split()
print("Tokens:", tokens)

I am taking MATH637!
These substrings are the same: MATH637, MATH637
Some other substrings: I am, MATH637!
Tokens: ['I', 'am', 'taking', 'MATH637!']

## Code flow

Python uses **indentation** to control blocks of code. Codes in the same block must have the same indentation. It's important to be consistent with *tab* and *space* here. If you use other editors, it would be best to convert all tabs to spaces to avoid errors. For Colab, it should already be done for you.

In [ ]:
# Use for loop to add elements one-by-one to a list
l = []
for i in range(10):
    l.append(i)
print(l)

# Use while loop to print numbers smaller than 5
i = 0
while i < 5:
    print(i)
    i += 1

# A very handy one-line loop
l = [i*2 for i in range(3, 8)]
print(l)

# Another one-line loop
l = [i*j for i in range(4) for j in range(1, 3)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
1
2
3
4
[6, 8, 10, 12, 14]
[0, 0, 1, 2, 2, 4, 3, 6]

## Functions

Functions in Python can be define with or without type information. They can also take other functions as inputs (higher-order functions).

In [ ]:
# Define a new function f
def f(x, y):
    return x ** y
print(f(2, 3))

# Apply f to each element of a list
l = [2, 4, 7, 3]
l1 = [f(x, 2) for x in l]
print(l1)

# Function can also take another function as argument
def g(func, z):
    x = func(z, 2)
    return x + 1
y = g(f, 3)
print(y)

# Some arguments can take default values (only the last arguments)
def h(x, y=3, z=5):
    return [x, y, z]
print(h(3, 4, 5))
print(h(3))

8
[4, 16, 49, 9]
10
[3, 4, 5]
[3, 3, 5]